/* CSS stands for Cascading StyleSheet */

* {
	/* default font size */
	font-size: 16px;
	font-family: "Lato", sans-serif;
	/* text-align: center; */
}

th,
td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	width: 100%;
}

ul {
	list-style: none;
}

ol {
	list-style: upper-roman;
}

/* # is used to select elements by their "id" attribute */
#sometext1 {
	border: 1px solid black;
}

#sometext2 {
	border: 5px dotted green;
}

#box1 {
	background-color: aquamarine;
	margin-bottom: 50px;
}

#box2 {
	background-color: deepskyblue !important;
	width: 150px;
	height: 150px;
	margin-top: 50px;
}

/* . is used to select elements by their "class" attribute */
.box {
	border: 5px solid black;
	padding: 50px 50px;
	width: 50px;
	height: 50px;
}

.box100 {
	border: 5px solid green;
	width: 100px;
	height: 100px;
}

/* class can have multiple class names, the last class name applied in CSS will override previous CSS values */
/* between "id" & "class", "id" have a higher priority */

#my-form {
	border: 1px solid black;
	/* border-style: dotted; */
}

p.top {
	color: red;
}

.outer-box {
	width: 50%;
	height: 100px;
	background-color: deepskyblue;
	position: relative;
}

.inner-box {
	position: absolute;
	top: -20px;
	/* left: 10px; */
	z-index: -1;
	/* width: 50%; */
	/* width: 50px; */
	width: 15vw;
	height: 50px;
	background-color: rgba(224, 18, 18, 50%);
}

.inner-box2 {
	/* width: 50%; */
	/* width: 50px; */
	height: 50px;
	background-color: rgba(224, 18, 18, 50%);
}

body {
	background-image: url("index.jpg");
	/* background-repeat:  */
}

/* .navbar-top {
	width: 100%;
	background-color: brown;
	position: sticky;
	top: 0px;
} */

/* footer {
	width: 100%;
	background-color: brown;
	position: fixed;
	bottom: 0;
} */

/* 5 positions in CSS
	1. static (default)
	2. relative
	3. fixed
	4. sticky
	5. absolute
*/

.static {
	/* position: static; */
	left: 100px;
}

.relative {
	position: relative;
	left: 100px;
}

.absolute {
	position: absolute;
}

.container {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

/* Descendant Selectors */
/* all p tags enclosed inside of a div NO MATTER HOW DEEPLY NESTED */
/* div p {
	background-color: rgb(38, 182, 43);
} */

/* Child Selector (the immediate or direct child p tag) */
/* div > p {
	background-color: rgb(38, 182, 43);
} */

/* Adjacent Sibling Selector */
div + p {
	background-color: rgb(165, 42, 153);
}

/* Pseudo-classes */

a:link {
	color: red;
}

a:visited {
	color: blueviolet;
}

/* a:hover {
	background-color: aqua;
} */

a:active {
	color: blue;
}

.second-link:hover {
	background-color: brown;
}

/* Below is also pseudo class combined with combinator selectors */

/* n+3 is all child after 3 (including the 3rd child) */
/* ul > li:nth-child(n + 3) {
	background-color: blue;
	color: white;
} */

/* 3n is every multiple of 3 children */
ul > li:nth-child(3n) {
	background-color: blue;
	color: white;
}

ul > li:nth-child(2) {
	background-color: rgb(0, 255, 208);
	color: white;
}

/* ul > li:nth-child(even) {
	background-color: blueviolet;
	color: white;
} */

/* Relative size em & rem */
p {
	/* font-size: 32px; */
}

p > span {
	/* font-size: 2em; */
	font-size: 2rem;
}
